-iscord.py
aiohttp
appdirs
async-timeout
asyncio
attrs
certifi
cffi
chardet
Cybernator
decorator
discord
discord.py
distlib
embed
filelock
geojson
hentai
idna
importlib-metadata
json-api
loli
lolicon
multidict
nekos.py
nhentai
pip
pycparser
PyNaCl
pyowm
PySocks
python-dotenv
requests
setuptools
six
SpeechRecognition
tabulate
typing-extensions
urllib3
validators
virtualenv
virtualenv-clone
vk
websockets
yarl
youtube-dl
zipp